@import "tailwindcss";

@theme {
  /* Animções */
  --animate-zoom-in: zoom-in 0.5s ease-in;
  --animate-fade-in-left: fade-in-left 0.5s ease-in;
  --animate-fade-in-right: fade-in-right 0.5s ease-out forwards;
  --animate-fade-out-right: fade-out-right 0.5s ease-out forwards;
  --animate-fade-in-down: fade-in-down 0.5s ease-out forwards;
  --animate-fade-out-up: fade-out-up 0.5s ease-out forwards;

  /* Keyframes */
  @keyframes zoom-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}
